[Unit]
Description=kZorpd Service
After=syslog.target

[Service]
Type=notify
PermissionsStartOnly=true
ExecStart=/usr/sbin/kzorpd --no-caps --no-syslog
ExecReload=/bin/kill -HUP ${MAINPID}
Restart=always
AmbientCapabilities=CAP_NET_ADMIN
User=zorp
Group=zorp

[Install]
WantedBy=multi-user.target
