[Unit]
Description=kZorpd Service
After=syslog.target

[Service]
Type=notify
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -m 770 -p /var/run/zorp
ExecStartPre=/bin/chown -R zorp:zorp /var/run/zorp
ExecStart=/usr/sbin/kzorpd --no-syslog
ExecReload=/usr/sbin/kzorpd --reload
Restart=always
AmbientCapabilities=CAP_NET_ADMIN
User=zorp
Group=zorp

[Install]
WantedBy=multi-user.target
