#!/usr/bin/make -f

version := $(shell dpkg-parsechangelog | sed -n 's/^Version: *\([^-]\+\)/\1/p')

ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
    NUMJOBS = $(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
    MAKEFLAGS += -j$(NUMJOBS)
endif

%:
	dh $@ --with autoreconf,dkms --parallel

override_dh_dkms:
	dh_dkms -V$(version)

override_dh_auto_install-indep:
	mkdir -p usr/src/kzorp-$(version)

	dh_install -pkzorp-dkms driver/Makefile usr/src/kzorp-$(version)/

	dh_install -pkzorp-dkms driver/*.c usr/src/kzorp-$(version)/
	dh_install -pkzorp-dkms driver/*.h usr/src/kzorp-$(version)/
	dh_install -pkzorp-dkms driver/include/linux/netfilter/*.h usr/src/kzorp-$(version)/include/linux/netfilter/

	dh_auto_install --destdir=debian/python-kzorp -- -C pylib install
	dh_auto_install --destdir=debian/kzorp-munin-plugins -- -C munin_plugins install
	dh_auto_install --destdir=debian/kzorp-utils -- -C scripts install
	dh_auto_install --destdir=debian/kzorpd -- -C daemon install

override_dh_installinit:
	dh_installinit -i -- defaults 19 21
